*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 94%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #263238; }

.rellax-wrap {
  position: absolute !important; }

.content-wrapper {
  visibility: hidden; }

.wrapper {
  margin-left: 15rem;
  margin-right: 15rem;
  z-index: 10;
  height: 100%; }

section {
  padding-top: 2rem;
  padding-bottom: 4rem;
  position: relative; }

@media only screen and (max-height: 800px) {
  section {
    height: fit-content; } }

.heading-1 {
  margin-bottom: 4rem;
  opacity: 0;
  font-size: 4rem;
  transform: translateY(10rem);
  transition: transform 1s, opacity 1s;
  line-height: 7rem;
  z-index: 10; }
  .heading-1.active-dark {
    color: #263238;
    opacity: 1;
    transform: translateY(0); }
  .heading-1.active-light {
    color: #fff;
    opacity: 1;
    transform: translateY(0); }

@media only screen and (max-width: 1600px) {
  .wrapper {
    margin-left: 15rem;
    margin-right: 10rem; } }

@media only screen and (max-width: 1260px) {
  .heading-1 {
    font-size: 3rem; }
  .wrapper {
    margin-left: 15rem;
    margin-right: 8rem; } }

@media only screen and (max-width: 980px) {
  .heading-1 {
    font-size: 3rem;
    line-height: 3.2rem;
    margin: 0 0 3rem 0; }
  .wrapper {
    margin-left: 5rem;
    margin-right: 5rem; } }

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%; }
  .heading-1 {
    font-size: 2rem;
    line-height: 3.2rem; }
  .wrapper {
    margin-left: 1.8rem !important;
    margin-right: 1.8rem !important; } }

.button {
  outline: 2px solid #263238;
  outline-offset: .4rem;
  background-color: #263238;
  display: inline-block;
  font-weight: 800;
  text-decoration: none;
  padding: .75rem 2.2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #f7d147;
    transition: all .3s;
    z-index: -1; }
  .button:hover {
    color: #263238; }
    .button:hover:before {
      width: 100%; }

@media only screen and (max-width: 980px) {
  .button {
    font-size: .8rem; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: -1;
  opacity: 0.6; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

@media only screen and (max-height: 600px) {
  .bg-video {
    height: 600px; } }

.sidenav {
  top: 40%;
  left: 2.23rem;
  position: fixed;
  white-space: nowrap;
  z-index: 10; }
  .sidenav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidenav ul li a {
    transition: all .3s ease-in;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0.5rem;
    color: black;
    text-decoration: none; }
    .sidenav ul li a:hover .titel {
      color: #000;
      transform: translateX(0); }
    .sidenav ul li a .number {
      font-size: .8rem;
      font-weight: 800;
      margin-left: .9rem;
      color: #000;
      transition: all .6s ease; }
      .sidenav ul li a .number.active-dark {
        color: black; }
      .sidenav ul li a .number.active-light {
        color: white; }
    .sidenav ul li a .titel {
      font-size: .8rem;
      font-weight: 800;
      margin-left: 1rem;
      color: transparent;
      transition: all .6s ease;
      transform: translateX(-1rem); }
      .sidenav ul li a .titel.active-dark {
        color: black;
        transform: translateX(0); }
      .sidenav ul li a .titel.active-light {
        color: white;
        transform: translateX(0); }
    .sidenav ul li a .sideline {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      width: 1.1rem;
      z-index: -10; }
      .sidenav ul li a .sideline .inner {
        display: block;
        left: 0;
        background-color: #263238;
        width: 60%;
        height: 2px;
        transition: all .6s ease; }
        .sidenav ul li a .sideline .inner.active-dark {
          height: 2px;
          width: 100%;
          background-color: black; }
        .sidenav ul li a .sideline .inner.active-light {
          height: 2px;
          width: 100%;
          background-color: white; }

.line-white {
  background-color: white !important; }

.navline {
  background-color: #000;
  width: 2px;
  height: 2000px;
  transition: all .6s ease; }

.navlogo {
  z-index: 10;
  top: 2rem;
  left: 3.2rem;
  position: fixed; }
  .navlogo .stroke-white {
    stroke: white; }
  .navlogo .animatestroke {
    transition: all .6s; }
  .navlogo .logoanimate {
    transition: all .6s; }
    .navlogo .logoanimate.active-light {
      fill: white; }

.collapsible {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border: none; }

.content {
  position: fixed;
  top: 5rem;
  left: 3.33rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  z-index: 10; }

.show {
  visibility: visible !important;
  opacity: 1 !important; }

@media only screen and (max-width: 980px) {
  .sidenavigation {
    display: none; }
  .navlogo {
    top: 1rem;
    left: 1rem;
    position: absolute; }
    .navlogo svg {
      height: 70px; } }

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.loader {
  width: 30px;
  height: 30px;
  border: 4px solid #263238;
  animation: loader 2s infinite ease; }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #f7d147;
  animation: loader-inner 2s infinite ease-in; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

.card {
  display: inline-flex;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  width: fit-content;
  height: fit-content;
  flex-flow: column;
  justify-content: space-between;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .card-heading {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    font-size: 3.5rem;
    color: #263238; }
    .card-heading p {
      display: inline-block;
      color: #f7d147; }
  .card-main {
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
    color: #263238; }

@media only screen and (max-width: 600px) {
  .card-heading {
    font-size: 2rem; }
  .card-main {
    font-size: 1rem; } }

.composition {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 20rem; }
  .composition-square {
    color: #f7d147;
    font-weight: 800;
    font-size: 1.3rem;
    width: 15rem;
    height: 15rem;
    border: 0.1rem solid #f7d147;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .composition-square-p1 {
      left: 0;
      top: -2rem; }
    .composition-square-p2 {
      left: 2rem;
      top: 2rem; }
    .composition-square-p3 {
      left: 10rem;
      top: 10rem; }
    .composition-square:hover {
      background-color: #f7d147;
      transform: scale(1.1) translateY(-1rem);
      z-index: 11; }
  .composition:hover .composition-square:not(:hover) {
    transform: scale(0.9); }

* {
  margin: 0;
  padding: 0; }

/* Icon 1 */
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  z-index: 50;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 5.8rem;
  left: 4.65rem;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

.white {
  background: #fff !important; }

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 3rem;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 15px; }

#nav-icon1 span:nth-child(3) {
  top: 30px; }

#nav-icon1.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

@media only screen and (max-width: 980px) {
  #nav-icon1 {
    display: none; } }

.white-light {
  background: white !important; }

.button_container {
  display: none;
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease, background .6s ease; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #f7d147; }
  .button_container.active .middle {
    opacity: 0;
    background: #f7d147; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #f7d147; }
  .button_container span {
    background: #263238;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  display: none;
  z-index: 99;
  position: fixed;
  background: #263238;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 15%;
      height: calc(100% / 6);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #f7d147;
        text-decoration: none;
        overflow: hidden;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #f7d147;
          transition: .35s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@media only screen and (max-width: 980px) {
  .button_container {
    display: block; }
  .overlay {
    display: block; } }

.flip {
  perspective: 100rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 24rem; }
  .flip__side {
    height: 40rem;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(38, 50, 56, 0.15); }
    .flip__side--front {
      background-color: #fff; }
    .flip__side--back {
      transform: rotateY(180deg); }
      .flip__side--back-1 {
        background-image: linear-gradient(to right bottom, #f7d147, #fff); }
      .flip__side--back-2 {
        background-image: linear-gradient(to right bottom, #f7d147, #fff); }
      .flip__side--back-3 {
        background-image: linear-gradient(to right bottom, #f7d147, #fff); }
  .flip:hover .flip__side--front {
    transform: rotateY(-180deg); }
  .flip:hover .flip__side--back {
    transform: rotateY(0); }
  .flip__picture {
    background-size: cover;
    height: 23rem;
    -webkit-background-blend-mode: screen;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .flip__picture-1 {
      background-image: linear-gradient(to right bottom, #f7d147, #263238), url(../img/unnamed.jpg); }
    .flip__picture-2 {
      background-image: linear-gradient(to right bottom, #f7d147, #263238), url(../img/unnamed.jpg); }
    .flip__picture-3 {
      background-image: linear-gradient(to right bottom, #f7d147, #263238), url(../img/unnamed.jpg); }
  .flip__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #263238;
    position: absolute;
    top: 12rem;
    right: 0rem;
    text-align: right;
    width: 100%; }
  .flip__heading--span {
    padding: 1rem 2.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .flip__heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.7), rgba(255, 255, 255, 0.7)); }
    .flip__heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.7), rgba(255, 255, 255, 0.7)); }
    .flip__heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.7), rgba(255, 255, 255, 0.7)); }
  .flip__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .flip__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #263238; }
  .flip__price-only {
    font-size: 1.5rem;
    text-transform: uppercase; }
  .flip__price-value {
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: 150; }

.frame {
  position: relative;
  width: 500px;
  height: 500px; }
  .frame-pic {
    width: 151.51515px;
    height: 151.51515px;
    border: solid #263238 3px;
    transition: all .2s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1rem; }
    .frame-pic-1 {
      top: 33%;
      left: 0; }
      .frame-pic-1:hover p:after {
        content: "Digitales Modell"; }
    .frame-pic-2 {
      top: 33%;
      left: 33%; }
      .frame-pic-2:hover p:after {
        content: "Kosten"; }
    .frame-pic-3 {
      top: 66%;
      left: 33%; }
      .frame-pic-3:hover p:after {
        content: "Nachhaltigkeit"; }
    .frame-pic-4 {
      top: 0px;
      left: 33%; }
      .frame-pic-4:hover p:after {
        content: "Zeit"; }
    .frame-pic-5 {
      top: 33%;
      left: 66%; }
      .frame-pic-5:hover p:after {
        content: "Betrieb"; }
    .frame-pic:hover {
      background-color: #263238;
      transform: scale(1.08) translateY(-0.4rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 11; }
      .frame-pic:hover p {
        color: white;
        hyphens: auto;
        font-size: 1.1rem; }
        .frame-pic:hover p span {
          display: none; }
  .frame-text {
    font-weight: 800;
    font-size: 1.4rem;
    display: inline-block;
    text-align: center; }
    .frame-text span {
      display: inline-block;
      text-align: center; }

@media only screen and (max-width: 1260px) {
  .frame {
    width: 420px;
    height: 420px; }
    .frame-pic {
      width: 127.27273px;
      height: 127.27273px;
      padding: 0 0 0 0; }
      .frame-pic:hover p {
        font-size: 1.4rem; }
        .frame-pic:hover p:after {
          font-size: .9rem;
          hyphens: auto; } }

@media only screen and (max-width: 600px) {
  .frame {
    width: 260px;
    height: 260px; }
    .frame-pic {
      width: 78.78788px;
      height: 78.78788px;
      padding: 0 0 0 0; }
      .frame-pic:hover p {
        font-size: 1.1rem; }
        .frame-pic:hover p:after {
          font-size: .6rem;
          hyphens: auto; } }

.faqslide {
  outline: 2px solid #263238;
  cursor: pointer;
  outline-offset: .4rem;
  display: inline-block;
  font-weight: 800;
  text-decoration: none;
  padding: .1rem 2.2rem;
  color: #263238;
  text-transform: uppercase;
  letter-spacing: .15rem;
  transition: all .6s;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  width: 80%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 4rem; }
  .faqslide-content {
    max-height: 0;
    overflow: hidden;
    width: 80%;
    transition: max-height 0.4s ease-out;
    margin-left: 4rem; }
    .faqslide-content p {
      font-size: 1.3rem; }
  .faqslide > p {
    margin-left: 3rem;
    display: inline;
    font-size: 1.2rem;
    font-weight: 700; }
    .faqslide > p:after {
      color: transparent;
      transition: all 1s; }
  .faqslide > h3 {
    display: inline;
    font-size: 1.5rem;
    font-weight: 100; }
  .faqslide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    transform-origin: 0 0;
    transform: translateX(-100%) skewX(-45deg);
    background-color: #f7d147;
    transition: all .8s;
    z-index: -1; }
  .faqslide.active .content {
    margin-bottom: 2rem; }
  .faqslide.active:before {
    transform: translateX(0) skewX(-45deg); }

@media only screen and (max-width: 1260px) {
  .faqslide {
    font-size: .8rem;
    width: 100%; }
    .faqslide-content {
      width: 100%; }
      .faqslide-content p {
        font-size: 1rem; } }

@media only screen and (max-width: 980px) {
  .faqslide {
    font-size: .8rem;
    margin-left: 0;
    padding: .2rem 0 .2rem .4rem; }
    .faqslide p {
      font-size: 1rem;
      margin: 0; }
    .faqslide-content {
      margin-left: 0; }
      .faqslide-content p {
        font-size: 1rem;
        margin: 0; }
    .faqslide > h3 {
      display: none; } }

@media only screen and (max-width: 600px) {
  .faqslide {
    width: 100%; }
    .faqslide-content {
      width: 100%; }
      .faqslide-content p {
        font-size: 1rem; }
    .faqslide > p {
      font-size: .7rem;
      letter-spacing: .01rem; } }

.slidecard {
  width: 800px;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3); }
  .slidecard-nav {
    right: 50px;
    top: 50px;
    position: absolute;
    z-index: 2; }
    .slidecard-nav-cube {
      display: inline-block;
      position: relative;
      border: 3px solid #263238;
      margin-left: 2rem;
      width: 20px;
      height: 20px;
      transition: transform .3s ease;
      cursor: pointer;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
      .slidecard-nav-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        transform-origin: 0 0;
        background-color: #263238;
        transition: all .3s;
        z-index: -1; }
      .slidecard-nav-cube.active {
        transform: rotate(45deg); }
        .slidecard-nav-cube.active:before {
          width: 100%; }
      .slidecard-nav-cube:hover {
        transform: rotate(45deg); }
        .slidecard-nav-cube:hover:before {
          width: 100%; }
  .slidecard-content {
    padding-left: 200px;
    padding-right: 50px;
    width: 100%;
    height: 100%; }
    .slidecard-content-1 {
      position: relative; }
    .slidecard-content-2 {
      position: absolute; }
    .slidecard-content-3 {
      position: absolute; }
    .slidecard-content.active .slidecard-content-heading {
      opacity: 1;
      transform: translateY(0); }
    .slidecard-content.active .slidecard-content-text {
      opacity: 1;
      transform: translateY(0); }
    .slidecard-content.active .slidecard-content-image {
      opacity: 1;
      transform: translateX(-20%); }
    .slidecard-content-image {
      outline: 2px solid #263238;
      outline-offset: .9rem;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
      background-size: cover;
      height: 250px;
      width: 250px;
      position: absolute;
      top: 2rem;
      left: -8rem;
      transition: transform 1s, opacity 1s;
      opacity: 0;
      transform: translateX(-40%); }
      .slidecard-content-image-1 {
        background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.1), rgba(38, 50, 56, 0.1)), url("../img/slider/planen_comp.jpg"); }
      .slidecard-content-image-2 {
        background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.1), rgba(38, 50, 56, 0.1)), url("../img/slider/bauen_comp.jpg"); }
      .slidecard-content-image-3 {
        background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.1), rgba(38, 50, 56, 0.1)), url("../img/slider/betreiben_comp.jpg"); }
    .slidecard-content-heading {
      margin-top: 170px;
      font-size: 1.6rem;
      letter-spacing: 3px;
      letter-spacing: .5rem;
      opacity: 0;
      transform: translateY(5rem);
      transition: transform 1s, opacity 1s; }
    .slidecard-content-text {
      width: 100%;
      padding-bottom: 40px;
      font-size: 1.1rem;
      opacity: 0;
      transform: translateY(5rem);
      transition: transform 1s, opacity 1s; }

@media only screen and (max-width: 1600px) {
  .slidecard {
    width: 700px; }
    .slidecard-content {
      padding-left: 50px;
      padding-right: 50px; }
      .slidecard-content-heading {
        margin-top: 40px; }
      .slidecard-content-text {
        padding-bottom: 170px; }
      .slidecard-content-image {
        left: 50%;
        top: 60%;
        height: 200px;
        width: 280px;
        transform: translate(-50%, 50%); }
      .slidecard-content.active .slidecard-content-image {
        opacity: 1;
        transform: translate(-50%, 0); } }

@media only screen and (max-width: 980px) {
  .slidecard-nav-cube {
    width: 15px;
    height: 15px; }
  .slidecard-content {
    padding-left: 20px;
    padding-right: 20px; }
    .slidecard-content-heading {
      margin-top: 40px; }
    .slidecard-content-text {
      padding-bottom: 170px; }
    .slidecard-content-image {
      left: 50%;
      top: 70%;
      height: 200px;
      width: 280px;
      transform: translate(-50%, 50%); }
    .slidecard-content.active .slidecard-content-image {
      opacity: 1;
      transform: translate(-50%, 0); } }

@media only screen and (max-width: 600px) {
  .slidecard-nav {
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    top: 10px; }
  .slidecard-content {
    padding-left: 20px;
    padding-right: 20px; }
    .slidecard-content-heading {
      margin-top: 40px; }
    .slidecard-content-text {
      padding-bottom: 170px; }
    .slidecard-content-image {
      left: 50%;
      top: 80%;
      height: 140px;
      width: 220px;
      transform: translate(-50%, 50%); }
    .slidecard-content.active .slidecard-content-image {
      opacity: 1;
      transform: translate(-50%, 0); } }

.contact {
  margin: 10px;
  padding: 30px;
  width: 400px;
  height: fit-content;
  border: 2px solid #263238;
  position: relative; }
  .contact > h2 {
    top: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 100; }
  .contact > p {
    text-align: center;
    font-size: 1rem;
    font-weight: 700; }
  .contact-foot {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact-foot-frame {
      display: flex;
      width: 60px;
      height: 60px;
      outline: 2px solid #263238;
      outline-offset: .4rem;
      justify-content: center;
      transition: all .4s;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      .contact-foot-frame:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        transform-origin: 0 0;
        transform: translateX(-100%) skewX(-45deg);
        background-color: #f7d147;
        transition: all .3s;
        z-index: -1; }
      .contact-foot-frame:hover {
        color: #263238; }
        .contact-foot-frame:hover:before {
          transform: translateX(0) skewX(-45deg); }
      .contact-foot-frame-1 {
        margin-right: 2rem; }
      .contact-foot-frame-2 {
        margin-left: 2rem; }
    .contact-foot-icon {
      width: 50%; }

.wrapp-rellax {
  position: absolute;
  width: 100%;
  z-index: -10; }
  .wrapp-rellax-col {
    width: 25%;
    float: left;
    box-sizing: border-box; }
    .wrapp-rellax-col-container {
      display: flex;
      align-items: center;
      justify-content: center; }

.slideshow-container {
  margin-top: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

/* Hide the images by default */
.mySlides {
  transition: transform 1s, opacity 1s;
  width: 260px;
  height: 260px;
  opacity: 0;
  transform: translateX(-100px);
  outline: 2px solid #263238;
  outline-offset: .9rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  background-size: cover; }
  .mySlides-1 {
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.1), rgba(38, 50, 56, 0.1)), url("../img/slider1/1-comp.jpg"); }
  .mySlides-2 {
    position: absolute;
    background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.1), rgba(38, 50, 56, 0.1)), url("../img/slider1/2-comp.jpg"); }
  .mySlides-3 {
    position: absolute;
    background-image: linear-gradient(to right bottom, rgba(247, 209, 71, 0.1), rgba(38, 50, 56, 0.1)), url("../img/slider1/3-comp.jpg"); }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #263238; }

.fadeimgin {
  opacity: 1;
  transform: translateX(0px); }

.fadeimgout {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .1;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@media only screen and (max-width: 600px) {
  .mySlides {
    width: 200px;
    height: 200px; } }

.header {
  height: 100vh;
  display: block;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/head-1.jpg");
  background-size: cover;
  background-position: top;
  padding: 0 !important; }

.digital {
  border-bottom: 3px #263238;
  position: relative; }
  .digital-image {
    display: block;
    outline: 2px solid #263238;
    outline-offset: .9rem;
    background-size: cover;
    width: 300px;
    height: 200px;
    background-image: url("/img/digit.png"); }
  .digital-text {
    display: inline-block; }
  .digital-text-absatz {
    text-align: left;
    font-size: 1.2rem; }
  .digital-text-header {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    letter-spacing: 3px; }

.wir {
  padding-bottom: 10rem; }

.flex-grid {
  display: flex; }

.col {
  height: 100%;
  flex: 1; }

.d-flex {
  display: flex; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.align-self-center {
  align-self: center; }

.align-self-start {
  align-self: flex-start; }

@media only screen and (max-width: 1200px) {
  .flex-grid {
    display: block; } }

.boxes {
  height: 1000px;
  position: relative; }
  .boxes-cap-heading {
    position: absolute; }

.boxwrap {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; }

.box {
  z-index: 1;
  display: block;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .4s ease;
  height: 100%;
  width: 100%;
  padding-top: 10rem; }
  .box h2 {
    padding: 0 4rem 0 5rem; }
  .box p {
    padding: 0 4rem 0 5rem; }
  .box h1 {
    padding: 0 4rem 0 5rem;
    font-size: 6rem;
    font-weight: 100; }
  .box-4 {
    background-color: #f7d147; }
  .box-3 {
    background-color: rgba(38, 50, 56, 0.8);
    color: white; }
  .box-2 {
    background-color: #c1c1c1; }
  .box-1 {
    background-color: rgba(193, 193, 193, 0.5); }
    .box-1 h2 {
      padding: 0 4rem 0 10rem; }
    .box-1 p {
      padding: 0 4rem 0 10rem; }
    .box-1 h1 {
      padding: 0 4rem 0 10rem;
      font-size: 6rem;
      font-weight: 100; }

.scale-in {
  transform: scaleX(1); }

@media only screen and (max-width: 1500px) {
  .boxwrap .flex-grid {
    display: block;
    padding-top: 10rem; }
  .box {
    height: 25%;
    padding-top: 1rem; }
    .box h2 {
      font-size: 1.2rem;
      display: inline-block;
      padding: 0 4rem 0 0; }
    .box p {
      padding: 0 4rem 0 15rem; }
    .box h1 {
      display: inline-block;
      padding: 0 4rem 0 15rem;
      font-size: 2.5rem;
      font-weight: 100; } }

@media only screen and (max-width: 600px) {
  .box h2 {
    padding: 0 2rem 0 0; }
  .box h1 {
    padding: 0 2rem 0 2rem; }
  .box p {
    padding: 0 2rem 0 2rem; } }

@media only screen and (max-width: 550px) {
  .boxes {
    height: 600px; }
  .box {
    height: 7rem; }
    .box h2 {
      padding: 0 2rem 0 0; }
    .box h1 {
      padding: 0 2rem 0 2rem; }
    .box p {
      visibility: hidden; } }

#faq {
  padding-bottom: 10rem; }

.footer {
  padding: 3rem 0 3rem 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #263238; }
  .footer-box {
    display: inline-block;
    padding-left: auto; }
  .footer h5 {
    font-size: 1rem; }
  .footer p i {
    padding-top: 3px; }
  .footer svg {
    display: inline-block; }
  .footer a {
    margin-top: 0rem;
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: #263238; }

.datenschutz > .wrapper > p {
  margin-right: 20rem;
  margin-left: 5rem;
  margin-bottom: 2rem; }

.datenschutz > .wrapper > h4 {
  font-size: 2rem;
  margin-bottom: 1rem; }

.datenschutz > .wrapper > h3 {
  font-size: 1rem;
  margin-left: 5rem;
  margin-bottom: 0.3rem; }

.datenschutz > .wrapper > ul > li > ul > li {
  margin-right: 20rem;
  font-size: 1rem;
  margin-left: 5rem;
  margin-bottom: 0.7rem;
  font-weight: 600; }

.datenschutz > .wrapper > ul > li > h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.datenschutz > .wrapper > ul > li > p {
  margin-right: 20rem;
  margin-left: 5rem;
  margin-bottom: 2rem; }

@media only screen and (max-width: 1260px) {
  .datenschutz > .wrapper > p {
    margin-right: 6rem;
    margin-left: 5rem;
    margin-bottom: 2rem; }
  .datenschutz > .wrapper > h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  .datenschutz > .wrapper > h3 {
    font-size: 1rem;
    margin-left: 5rem;
    margin-bottom: 0.3rem; }
  .datenschutz > .wrapper > ul > li > ul > li {
    margin-right: 6rem;
    font-size: 1rem;
    margin-left: 5rem;
    margin-bottom: 0.7rem;
    font-weight: 600; }
  .datenschutz > .wrapper > ul > li > h4 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .datenschutz > .wrapper > ul > li > p {
    margin-right: 6rem;
    margin-left: 5rem;
    margin-bottom: 2rem; } }

@media only screen and (max-width: 980px) {
  .datenschutz > .wrapper > h1 {
    margin-left: 10rem; }
  .datenschutz > .wrapper > p {
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 2rem; }
  .datenschutz > .wrapper > h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  .datenschutz > .wrapper > h3 {
    font-size: 1rem;
    margin-left: 5rem;
    margin-bottom: 0.3rem; }
  .datenschutz > .wrapper > ul > li > ul > li {
    margin-right: 6rem;
    font-size: 1rem;
    margin-left: 5rem;
    margin-bottom: 0.7rem;
    font-weight: 600; }
  .datenschutz > .wrapper > ul > li > h4 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .datenschutz > .wrapper > ul > li > p {
    margin-right: 6rem;
    margin-left: 5rem;
    margin-bottom: 2rem; } }

@media only screen and (max-width: 600px) {
  .datenschutz > .wrapper > h1 {
    margin-left: 7rem; }
  .datenschutz > .wrapper > p {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem; }
  .datenschutz > .wrapper > h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  .datenschutz > .wrapper > h3 {
    font-size: 1rem;
    margin-left: 5rem;
    margin-bottom: 0.3rem; }
  .datenschutz > .wrapper > ul > li > ul > li {
    margin-right: 2rem;
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
    font-weight: 600; }
  .datenschutz > .wrapper > ul > li > h4 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .datenschutz > .wrapper > ul > li > p {
    margin-right: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem; } }

.impressum > .wrapper > h2 {
  font-size: 2rem; }

.impressum > .wrapper > p {
  margin-left: 15rem;
  margin-bottom: 2rem; }

@media only screen and (max-width: 980px) {
  .impressum > .wrapper > h1 {
    margin-left: 10rem; }
  .impressum > .wrapper > h2 {
    font-size: 2rem; }
  .impressum > .wrapper > p {
    margin-left: 15rem;
    margin-bottom: 2rem; } }

@media only screen and (max-width: 600px) {
  .impressum > .wrapper > h1 {
    margin-left: 7rem; }
  .impressum > .wrapper > h2 {
    font-size: 1.2rem; }
  .impressum > .wrapper > p {
    margin-left: 5rem;
    margin-bottom: 2rem; } }
