$color-primary: #f7d147;

$color-light: #c1c1c1;
$color-dark: #263238;

$color-white: #fff;
$color-black: #000;

$color-nav: #000;

// NAVLine

$distance-left: 2.23rem;

$sideline-width: 1.1rem;


$full-start: 15rem;
$full-end: 10rem;
$base-cole-width: 14rem;
$cols: 8;


//HEADER

$header-height-full: 100vh;
$header-height: 800px;