.datenschutz {
    &>.wrapper {

        &>h1 {
            font-size: 4rem;
        }

        &>p {
            margin-right: 20rem;
            margin-left: 5rem;
            margin-bottom: 2rem;

        }

        &>h4 {
            margin-right: 20rem;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &>h3 {
            margin-right: 20rem;
            font-size: 1rem;
            margin-left: 5rem;
            margin-bottom: 0.3rem;
        }

        &>ul>li {
            &>ul>li {
                margin-right: 20rem;
                font-size: 1rem;
                margin-left: 5rem;
                margin-bottom: 0.7rem;
                font-weight: 600;
            }

            &>h4 {
                margin-right: 20rem;

                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            &>p {
                margin-right: 20rem;
                margin-left: 5rem;
                margin-bottom: 2rem;
            }
        }
    }


}