.digital {
    height: 100vh;
    border-bottom: 3px $color-dark;

    &-text-absatz {
        display: inline-block;
        text-align: left;
        font-size: 1.2rem;
    }

    &-text-header {
        margin-top: 10rem;
        font-size: 1.4rem;
        letter-spacing: 3px;
    }
}