.footer {
    padding: 3rem 0 3rem 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-dark;

    &-box {
        display: inline-block;
        padding-left: auto;
    }

    & h5 {
        font-size: 1rem;
    }

    & p {
        & i {
            padding-top: 3px;
        }
    }

    & svg {
        display: inline-block;
    }

    & a {
        margin-top: 0rem;
        display: block;
        text-decoration: none;
        font-weight: 600;
        color: $color-dark;
    }
}