.flex-grid {
    display: flex;
}

.col {
    height: 100%;
    flex: 1;
}



.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.align-self-start {
    align-self: flex-start;
}


@media only screen and (max-width: 1200px) {


    .flex-grid {
        display: block;
    }
}