.header {
    height: 100vh;
    display: block;
    background-image: linear-gradient(to right bottom,
            rgba($color-white, 0.2),
            rgba($color-white, 0.2)),
        url("../img/head.jpg");
    background-size: cover;
    background-position: top;


}

@media only screen and (max-width: 980px) {}