.header {
    height: $header-height-full;
    display: block;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary, 0.5),
            rgba($color-dark, 0.7)),
        url("../img/head.jpg");
    background-size: cover;
    background-position: top;

    &>.wrapper>.flex-grid>.col {
        height: $header-height-full;
    }
}

@media only screen and (max-width: 980px) {}

@media only screen and (max-height: 600px) {
    .header {
        height: 600px;
    }
}