.impressum {
    &>.wrapper {


        &>h2 {
            font-size: 2rem;
        }

        &>p {
            margin-left: 15rem;
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (max-width: 980px) {
    .impressum {
        &>.wrapper {


            &>h1 {
                margin-left: 10rem;
            }

            &>h2 {
                font-size: 2rem;
            }

            &>p {
                margin-left: 15rem;
                margin-bottom: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .impressum {
        &>.wrapper {


            &>h1 {
                margin-left: 7rem;
            }

            &>h2 {
                font-size: 1.2rem;
            }

            &>p {
                margin-left: 5rem;
                margin-bottom: 2rem;
            }
        }
    }
}