.card {
    display: inline-flex;
    box-shadow: 0 1.5rem 2rem rgba($color: $color-black, $alpha: .3);
    width: fit-content;
    height: fit-content;
    flex-flow: column;
    justify-content: space-between;
    background-color: rgba($color: $color-white, $alpha: 1);
    padding-top: 3rem;
    padding-bottom: 3rem;

    &-heading {
        display: flex;
        justify-content: center;
        margin-top: 0rem;


        font-size: 3.5rem;
        color: $color-dark;

        & p {
            display: inline-block;
            color: $color-primary;
        }

    }

    &-main {
        display: flex;
        justify-content: center;


        padding: 0 1rem 0 1rem;
        text-align: center;
        font-weight: 800;
        font-size: 1.3rem;
        color: $color-dark;


    }

}

@media only screen and (max-width: 600px) {
    .card {
        &-heading {
            font-size: 2rem;
        }

        &-main {
            font-size: 1rem;
        }
    }
}