.card {
    display: inline-flex;
    width: 55rem;
    height: 7rem;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 20rem;

    &-heading {
        display: flex;
        justify-content: center;
        margin-top: 0rem;

        & .card-heading {
            font-size: 3.5rem;
            color: $color-white;

            & p {
                display: inline-block;
                color: $color-primary;
            }
        }
    }

    &-main {
        display: flex;
        justify-content: center;

        & .card-main {
            padding: 0 1rem 0 1rem;
            text-align: center;
            font-weight: 800;
            font-size: 1.3rem;
            color: $color-white;
        }

    }

}