.faqslide {
    outline: 2px solid $color-dark;
    cursor: pointer;
    outline-offset: .4rem;
    display: inline-block;
    font-weight: 800;
    text-decoration: none;
    padding: .1rem 2.2rem;
    color: $color-dark;
    text-transform: uppercase;
    letter-spacing: .15rem;
    transition: all .6s;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 4rem;

    &-content {
        max-height: 0;
        overflow: hidden;
        width: 80%;
        transition: max-height 0.4s ease-out;
        margin-left: 4rem;

        & p {
            font-size: 1.3rem;
        }
    }

    &>p {
        margin-left: 3rem;
        display: inline;
        font-size: 1.2rem;
        font-weight: 700;


        &:after {
            color: transparent;
            transition: all 1s;

        }

    }

    &>h3 {
        display: inline;
        font-size: 1.5rem;
        font-weight: 100;
    }




    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 130%;
        height: 100%;
        transform-origin: 0 0;
        transform: translateX(-100%) skewX(-45deg);
        background-color: darken($color-primary, 0%);
        transition: all .8s;

        z-index: -1;
    }

    &:hover {


        &:before {
            transform: translateX(0) skewX(-45deg);
        }

    }

    &.active {
        & .content {
            margin-bottom: 2rem;
        }

        &:before {
            transform: translateX(0) skewX(-45deg);
        }

    }
}

@media only screen and (max-width: 1260px) {
    .faqslide {
        font-size: .8rem;
        width: 100%;

        &-content {
            width: 100%;

            & p {
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .faqslide {
        font-size: .8rem;
        margin-left: 0;
        padding: .2rem 0 .2rem .4rem;

        & p {
            font-size: 1rem;
            margin: 0;
        }

        &-content {
            margin-left: 0;

            & p {
                font-size: 1rem;
                margin: 0;
            }
        }

        &>h3 {
            display: none;
        }
    }
}


@media only screen and (max-width: 600px) {
    .faqslide {
        width: 100%;

        &-content {
            width: 100%;

            & p {
                font-size: 1rem;
            }
        }


        &>p {
            font-size: .7rem;
            letter-spacing: .01rem;
        }
    }
}