.frame {
    position: relative;
    width: $parent-width;
    height: $parent-height;


    &-pic {
        width: $parent-width/3.3;
        height: $parent-height/3.3;
        border: solid $color-dark 3px;
        transition: all .2s;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem 0 1rem;

        &-1 {
            top: 33%;
            left: 0;

            &:hover p:after {
                content: "Die digitale Zukunft der Baubranche";
            }
        }

        &-2 {
            top: 33%;
            left: 33%;

            &:hover p:after {
                content: "Umsetzung aller BIM-Dimensionen";
            }
        }

        &-3 {
            top: 66%;

            left: 33%;

            &:hover p:after {
                content: "Visualisierungen aller Art";
            }
        }

        &-4 {
            top: 0px;

            left: 33%;

            &:hover p:after {
                content: "Visualisierungen aller Art";
            }
        }

        &-5 {
            top: 33%;

            left: 66%;

            &:hover p:after {
                content: "Visualisierungen aller Art";
            }
        }

        &:hover {
            background-color: $color-dark;
            transform: scale(1.08) translateY(-.4rem);
            box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: .5);
            z-index: 11;

            & p {
                color: white;
                font-size: 1.1rem;

                & span {
                    display: none;
                }
            }
        }

    }

    &-text {
        font-weight: 800;
        font-size: 1.4rem;
        display: inline-block;
        text-align: center;



        & span {
            display: inline-block;
            text-align: center;
        }
    }


}

@media only screen and (max-width: 600px) {
    $parent-height: 230px;
    $parent-width: 230px;

    .frame {
        width: $parent-width;
        height: $parent-height;

        &-pic {
            width: $parent-width/3.3;
            height: $parent-height/3.3;
            padding: 0 0 0 0;

            &:hover {


                & p {
                    font-size: 1.1rem;

                }
            }

        }
    }
}