.sidenav {
    top: 40%;
    left: $distance-left;
    position: fixed;
    white-space: nowrap;
    z-index: 10;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;


    }

    & ul li a {
        transition: all .3s ease-in;
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 0.5rem;
        color: black;
        text-decoration: none;

        &:hover .titel {
            color: $color-nav;
            transform: translateX(0)
        }

        & .number {
            font-size: .8rem;
            font-weight: 800;
            margin-left: .9rem;
            color: $color-nav;
            transition: all .6s ease;

            &.active-dark {
                color: black;
            }

            &.active-light {
                color: white;
            }
        }

        & .titel {
            font-size: .8rem;
            font-weight: 800;
            margin-left: 1rem;
            color: transparent;
            transition: all .6s ease;
            transform: translateX(-1rem);

            &.active-dark {

                color: black;
                transform: translateX(0)
            }

            &.active-light {

                color: white;
                transform: translateX(0)
            }
        }



        & .sideline {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;
            width: $sideline-width;
            z-index: -10;

            & .inner {
                display: block;
                left: 0;
                background-color: $color-dark;
                width: 60%;
                height: 2px;
                transition: all .6s ease;

                &.active-dark {
                    height: 2px;
                    width: 100%;
                    background-color: black;
                }

                &.active-light {
                    height: 2px;
                    width: 100%;
                    background-color: white;
                }

            }


        }
    }
}

.line-white {
    background-color: white !important;
}

.navline {
    background-color: $color-nav;
    width: 2px;
    height: 2000px;
    transition: all .6s ease;


}

.navlogo {
    z-index: 10;
    top: 2rem;
    left: 3.2rem;
    position: fixed;

    & .stroke-white {
        stroke: white;
    }

    & .animatestroke {
        transition: all .6s;


    }




    & .logoanimate {
        transition: all .6s;

        &.active-light {
            fill: white;
        }
    }
}

.collapsible {

    cursor: pointer;
    width: fit-content;
    height: fit-content;

    border: none;

}


.content {
    position: fixed;
    top: 5rem;
    left: $distance-left+$sideline-width;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    z-index: 10;


}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}

@media only screen and (max-width: 980px) {

    .sidenavigation {
        display: none;
    }

}